/* .input-type1:hover   .search_filter-btns-btns{
    stroke: "red";
    background-color: #00ff2a;
  }
  .search_filter-btns{
  background-color: #8a64b6;
  }


  .input-type1:hover   .search_filter-btns svg{
    background-color: #1900ff;
    }


  .search_filter-btns svg{
    background-color: #07c494;
    } */