body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Customizes the entire scrollbar */
::-webkit-scrollbar   {
   width: 16px;
}
.its-only-space-for-the-scroller {
  /* width: calc(12px ); */

}
/* Customizes the scrollbar track (background) */
::-webkit-scrollbar-track {
  margin-top: 8px;
  margin-bottom: 8px;
  background: #303e58; /* Blue track background */
  border-radius: 10px; /* Round corners for the track */
}

/* Customizes the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #525C70; /* Yellow thumb when hovered */
  border-radius: 10px; /* Round corners for the thumb */
  min-height: 50px;
 
}

/* Changes the scrollbar thumb color on hover */
::-webkit-scrollbar-thumb:hover {

  background: #AEB3BC; /* Red thumb */
 
  /* No need to re-define border-radius here unless you want a different radius on hover */
}

::-webkit-scrollbar-corner{
  background: #ff0000; /* Red thumb */
  visibility: hidden;
}